// Cores
$white: #fff;
$black: #000000;
$purple: #725172;

// Navbar inicio

nav {
    background: $white;
    box-shadow: 0px 2px 6px #A8A8A829;
    height: 56px;
    width: 100%;
}

.logo {
    width: 131px;
    margin-left: 40px;
}

.nav-left {
    li {
        .active-link {
            font-weight: bold;
        }

        .active-link::after {
            content: "";
            position: absolute;
            background-color: $purple;
            height: 3px;
            width: 100%;
            left: 0;
            bottom: -18px;
            transition: 0.25s;
            border-radius: 10px;
        }

        a {
            position: relative;
            margin-left: 20px;
            margin-right: 10px;
            font-size: 15px;
            color: $black;
            padding: 0 10px;
        }

        a:after {
            content: "";
            position: absolute;
            background-color: $purple;
            height: 3px;
            width: 0;
            left: 0;
            bottom: -18px;
            transition: 0.25s;
            border-radius: 10px;
        }

        a:hover:after {
            width: 100%;
        }

    }
}

.profile {
    width: 36px;
    position: relative;
    margin-right: 0px;
    border-radius: 9px;
    border: 2px solid #725172;
}

.nav-right {
    span {
        text-align: left;
        font-size: 16px;
        color: #1f1f1f;
        margin-right: 25px;

    }
    
    span:after {
        content: "";
        position: absolute;
        top: 11px;
        left: 68rem;
        width: 0;
        height: 36px;
        border: 1px solid #ccc;
        cursor: default;

    }

}

// // Navbar fim