/* You can add global styles to this file, and also import other style files */
@import url("https://p.typekit.net/p.css?s=1&k=hzy7zyt&ht=tk&f=139.169.173.175.176.25136&a=44792538&app=typekit&e=css");

$body-color:#F4F4F4;
body {
	font-family:"proxima-nova";
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    background: $body-color;
	font-family: Proxima-nova;
}
