.footer{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    position: absolute;
    bottom: 30px;
    cursor: default;
    
    span{
        font-weight: bold;
        margin-right: 50px;
        margin-top: -30px;
        position: absolute;
        font-size: 20px;
    }
    p{
        margin-right: 60px;
        font-size: 15px;
        top: -50px;
        position: absolute;
    }
}

