.products {
    h1 {
        font-size: 32px;
        text-transform: capitalize;
        margin-left: 50px;
        margin-top: 20px;
        color: #1F1F1F;
        font-weight: bold;
    }

    span {
        position: absolute;
        margin-left: 50px;
        margin-top: 10px;
        border: 1px solid #CCCCCC;
        width: 1235px;
        background: red;

    }

    .button-create {
        background: red;
        position: absolute;
        right: 80px;
        top: 0;
        margin-top: 80px;
        color: #FFFFFF;
        border-radius: 6px;
        background: #725172;
        padding: 10px 20px;
        font-size: 16px;
    }

    .button-create:hover {
        background: #533c53;
    }

    .btn:focus {
        box-shadow: none;
    }
}

// Modal 
$form-floating-label-transform:   scale(0.75) translateY(-1.7rem) translateX(0.6rem);


.modal-content{
    border-radius: 15px;
    box-shadow: 0px 3px 6px #77777729;
    width: 578px;

    .btn-create{
        color: #FFFFFF;
        background: #725172;
        width: 100px;
        height: 44px;
        transition: 0.25s;
    }
    .btn-create:hover{
        background: #533c53;
    }
    .btn:focus{
        box-shadow: none;
    }
    
    .btn-cancel{
        border: 1px solid #725172;
        width: 100px;
        height: 44px;
        color: #725172;
        margin-left: 20px;
        transition: 0.25s ease;
    }
    .btn-cancel:hover{
        background: #725172;
        color: white;
    }

    input, textarea{
        border: 1px solid #848484;
    }
    input:focus, textarea:focus{
        box-shadow: none;   
    }
    input::placeholder, textarea::placeholder{
        opacity: 0;
    }
    input:focus + label{
        background: white;
        opacity: 1;
        color: #626262;
        transform: $form-floating-label-transform;
    }
    textarea:focus + label{
        background: white;
        height: 10px;
        opacity: 1;
        color: #626262;
        transform: $form-floating-label-transform;
    }
    #date{
        position: relative;
        left: 30px;
        height: 60px;
    }
}

